<li
  class="pr-card"
  data-test-pull-request
>
  <a
    class="pr-title"
    data-test-field="Title"
    href={{@pr.htmlUrl}}
    rel="noopener noreferrer"
    target="_blank"
  >
    {{@pr.title}}
  </a>

  <span>
    by
    <a
      href="https://github.com/{{@pr.user.login}}"
      data-test-field="Author"
      rel="noopener noreferrer"
      target="_blank"
    >
      @{{@pr.user.login}}
    </a>
  </span>

  <span>
    in
    <a
      href={{@pr.repositoryUrl}}
      data-test-field="Repo"
      rel="noopener noreferrer"
      target="_blank"
    >
      {{@pr.repositoryName}}
    </a>
  </span>
</li>
