{{!-- TODO: Use @PR instead. --}}
<li
  class="pr-card"
  data-test-pull-request
>
  <a
    class="pr-title"
    data-test-field="Title"
    href={{PR.htmlUrl}}
    rel="noopener noreferrer"
    target="_blank"
  >
    {{PR.title}}
  </a>

  <span>
    by
    <a
      href="https://github.com/{{PR.userLogin}}"
      data-test-field="Author"
      rel="noopener noreferrer"
      target="_blank"
    >
      @{{PR.userLogin}}
    </a>
  </span>

  <span>
    in
    <a
      href={{PR.head.repo.html_url}}
      data-test-field="Repo"
      rel="noopener noreferrer"
      target="_blank"
    >
      {{PR.head.repo.name}}
    </a>
  </span>
</li>