<section>
  {{#if isPublishingDay}}
    <strong class="has-text-danger subtitle" data-test-is-friday-disclaimer>RELEASE DAY!</strong>
  {{/if}}
  <button class="button" {{action "getContributors" bubbles=false}}>Get Contributors List</button>
  <p class="contributors">
    {{#copy-me buttonClass="fetch-contributors"}}
      {{conListUniq}}
    {{/copy-me}}
  </p>
  {{#if isDayBeforePublishing}}
    <strong class="has-text-warning subtitle" data-test-is-thursday-disclaimer>It's Thursday...😱</strong>
  {{/if}}
</section>
<hr>
<section>
  <h2>New &amp; Accepted RFCs this Week</h2>
  <ul>
    {{#each model.newRfcs as |pull|}}
      <li class="clearfix">
        <i><a href={{pull.htmlUrl}} target="pull">{{pull.title}}</a></i> by
        <a href="https://github.com/{{pull.userLogin}}" target="gh-user">@{{pull.userLogin}}</a>
        <span>in <a href={{pull.head.repo.html_url}} target="repo">{{pull.head.repo.name}}</a></span>
        <span class="status-badge new">New</span>
      </li>
    {{/each}}
    {{#each model.mergedRfcs as |pull|}}
      <li class="clearfix">
        <strong><a href={{pull.htmlUrl}} target="pull">{{pull.title}}</a></strong> by
        <a href="https://github.com/{{pull.userLogin}}" target="gh-user">@{{pull.userLogin}}</a>
        <span>in <a href={{pull.head.repo.html_url}} target="repo">{{pull.head.repo.name}}</a></span>
        <span class="status-badge merged">Merged</span>
      </li>
    {{/each}}
  </ul>
</section>
<hr>
<section>
  <h2>Pull Requests - Landed This Week</h2>
  <ul>
    {{#each model.mergedPulls as |pull|}}
      <li class="clearfix">
        <strong><a href={{pull.htmlUrl}} target="pull">{{pull.title}}</a></strong> by
        <a href="https://github.com/{{pull.userLogin}}" target="gh-user">@{{pull.userLogin}}</a>
        <span>in <a href={{pull.head.repo.html_url}} target="repo">{{pull.head.repo.name}}</a></span>
        <span class="status-badge merged">Merged</span>
      </li>
    {{/each}}
  </ul>
</section>
<hr>
<section>
  <h2>Pull Requestes - Opened This Week</h2>
  <ul>
    {{#each model.newPulls as |pull|}}
      <li class="clearfix">
        <i><a href={{pull.htmlUrl}} target="pull">{{pull.title}}</a></i> by
        <a href="https://github.com/{{pull.userLogin}}" target="gh-user">@{{pull.userLogin}}</a>
        <span>in <a href={{pull.head.repo.html_url}} target="repo">{{pull.head.repo.name}}</a></span>
        <span class="status-badge new">New</span>
      </li>
    {{/each}}
  </ul>
</section>
{{outlet}}
