<section class="overview-section">
  {{#if isPublishingDay}}
    <strong class="has-text-danger subtitle" data-test-is-friday-disclaimer>RELEASE DAY!</strong>
  {{/if}}
  <button class="button" {{action "getContributors" bubbles=false}}>Get Contributors List</button>
  <p class="contributors">
    {{#copy-me buttonClass="fetch-contributors"}}
      {{conListUniq}}
    {{/copy-me}}
  </p>
  {{#if isDayBeforePublishing}}
    <strong class="has-text-warning subtitle" data-test-is-thursday-disclaimer>It's Thursday...😱</strong>
  {{/if}}
</section>

<section class="overview-section">
  <h2>RFCs</h2>

  <h3>New This Week</h3>
  {{pull-requests
    pullRequests=model.newRfcs
  }}

  <h3>Accepted This Week</h3>
  {{pull-requests
    pullRequests=model.mergedRfcs
  }}
</section>

<section class="overview-section">
  <h2>Pull Requests</h2>

  <h3>Landed This Week</h3>
  {{pull-requests
    pullRequests=model.mergedPulls
  }}

  <h3>Opened This Week</h3>
  {{pull-requests
    pullRequests=model.newPulls
  }}
</section>
