<section class="overview-section">
  {{!-- TODO:: Move action to `on` --}}
  {{!-- template-lint-disable no-action --}}
  <button
    class="button"
    type="button"
    {{action "getContributors" bubbles=false}}
  >
    Get Contributors List
  </button>

  {{#if this.contributorsList}}
    <p class="contributors">
      <CopyMe @buttonClass="fetch-contributors">
        {{this.contributorsList}}
      </CopyMe>
    </p>
  {{/if}}
</section>

<section class="overview-section">
  <h2>RFCs</h2>

  <h3>New This Week</h3>
  <PullRequests @pullRequests={{this.newRfcs}} />

  <h3>Accepted This Week</h3>
  <PullRequests @pullRequests={{this.mergedRfcs}} />
</section>

<section class="overview-section">
  <h2>Pull Requests</h2>

  <h3>Landed This Week</h3>
  <PullRequests @pullRequests={{this.mergedPulls}} />

  <h3>Opened This Week</h3>
  <PullRequests @pullRequests={{this.newPulls}} />
</section>
