<h1>Overview</h1>
<section class="projects">
  {{#each model as |org|}}
    <h2>{{org.login}}</h2>
    {{#each org.githubRepositories as |project|}}
      {{#if project.isNewThisWeek}}
        <section class="row project-item">
          <h3>{{project.fullName}}</h3>
          <p class="project-item__url">
            <a href={{project.htmlUrl}}>{{project.htmlUrl}}</a>
          </p>
          <p class="project-item__description">{{project.description}}</p>
          <article class="project-item__pulls">
            {{#each project.pulls as |pull|}}
              {{#if pull.landedThisWeek}}
                <p><strong><a href={{pull.htmlUrl}}>{{pull.title}}</a></strong></p>
              {{/if}}
              {{#if pull.isNewThisWeek}}
                <p><a href={{pull.htmlUrl}}>{{pull.title}}</a></p>
              {{/if}}
            {{/each}}
          </article>
        </section>
      {{/if}}
    {{/each}}
  {{/each}}
</section>
{{outlet}}
