<p class="is-pulled-right">
{{#if isPublishingDay}}
  <strong class="has-text-danger subtitle" data-test-is-friday-disclaimer>RELEASE DAY!</strong>
{{/if}}
<button class="button" {{action 'toggleUpdates' bubbles=false}}>{{if isShowingUpdates 'Hide Updates' 'Show Updates'}}</button>
<button class="button" disabled={{stillLoading}} {{action 'getContributors' bubbles=false}}>Get Contributors List</button>
<p class="contributors">
  <div class="hidden-list">
    {{#each model as |org|}}
      {{#each org.repositories as |repo|}}
        {{#each repo.pulls as |pull|}}
          {{#if pull.landedThisWeek}}
            {{pull.userLogin}}
          {{/if}}
        {{/each}}
      {{/each}}
    {{/each}}
  </div>
  {{#copy-me buttonClass="fetch-contributors"}}
    {{conListUniq}}
  {{/copy-me}}
</p>
{{#if isDayBeforePublishing}}
  <strong class="has-text-warning subtitle" data-test-is-thursday-disclaimer>It's Thursday...😱</strong>
{{/if}}
</p>
{{#each model as |org|}}
  <h2 class="title mt-1"><a href={{org.htmlUrl}} target="org">{{org.login}}</a></h2>
  {{#each org.repositories as |project|}}
    {{#if project.isNewThisWeek}}
      <div class="card project-item">
        <header class="card-header">
          <p class="card-header-title"><a href={{project.htmlUrl}}>{{project.fullName}}</a></p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content primary-bg has-text-white">
          <div class="content">
            <p class="project-item__description">{{project.description}}</p>
            <article class="project-item__pulls">
              {{#each project.pulls as |pull|}}
                {{#if pull.landedThisWeek}}
                  {{news-item pull=pull repo=project highlight=true}}
                {{/if}}
                {{#if isShowingUpdates}}
                  {{#if pull.isNewThisWeek}}
                    {{news-item pull=pull repo=project highlight=false}}
                  {{/if}}
                {{/if}}
              {{/each}}
            </article>
          </div>
        </div>
        <footer class="card-footer">

        </footer>
      </div>
    {{/if}}
  {{/each}}
{{/each}}
{{outlet}}
