<section class="overview-section">
  <button
    class="button"
    data-test-button="Get Contributors List"
    type="button"
    {{on "click" this.getContributors}}
  >
    Get Contributors List
  </button>

  {{#if this.contributorsList}}
    <div class="contributors-list-container">
      <CopyMe>
        {{this.contributorsList}}
      </CopyMe>
    </div>
  {{/if}}
</section>

<section class="overview-section">
  <h2 data-test-header>
    Pull requests since {{this.mergedSince}}
  </h2>

  <div data-test-section="Merged PRs">
    <h3>Merged</h3>

    <PullRequests
      @pullRequests={{this.mergedPRs}}
    />
  </div>

  <div data-test-section="Updated PRs">
    <h3>Updated but not merged</h3>

    <PullRequests
      @pullRequests={{this.updatedPRs}}
    />
  </div>
</section>